
  <h1>Threads</h1>

<div>
  <% @topics.each do |topic| %>
    <h2><%= link_to topic.title, topic%></h2>
    <p>Created by <%= topic.user.username %></p>
  <% end %>
</div>

<%= link_to "New Thread", new_topic_path %>