<% if logged_in? %>
  <h1>Hello <%= current_user.username %></h1>
<% else %>
  <h1>Threads</h1>
<% end %>


<div>
  <% @topics.each do |topic| %>
    <h2><%= link_to topic.title, topic%></h2>
    <p>Created by <%= topic.user.username %></p>
  <% end %>
</div>

<%= link_to "New Thread", new_topic_path %>